<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="posting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="posting.Properties.Settings.darwinConnectionString"
            connectionString="Data Source=YMGW-PC\MSSQLSERVER2;Initial Catalog=darwin;Persist Security Info=True;User ID=sa;Password=sqlpass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <posting.Properties.Settings>
            <setting name="sServer" serializeAs="String">
                <value>YMGW-PC\MSSQLSERVER2</value>
            </setting>
            <setting name="sDataBase" serializeAs="String">
                <value>darwin</value>
            </setting>
            <setting name="sUI" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="sPs" serializeAs="String">
                <value>sqlpass</value>
            </setting>
            <setting name="エクセル発注書シート名" serializeAs="String">
                <value>発注書.xls</value>
            </setting>
            <setting name="エクセル入庫管理表シート名" serializeAs="String">
                <value>入庫管理表.xls</value>
            </setting>
            <setting name="エクセル営業担当者別受注一覧シート名" serializeAs="String">
                <value>営業担当者別受注一覧ヨコ.xls</value>
            </setting>
            <setting name="エクセル配布指示報告書" serializeAs="String">
                <value>配布指示報告書.xls</value>
            </setting>
            <setting name="エクセル配布完了報告書" serializeAs="String">
                <value>配布完了報告書.xls</value>
            </setting>
            <setting name="エクセル配布進捗状況" serializeAs="String">
                <value>配布進捗状況.xls</value>
            </setting>
            <setting name="エクセル配布員稼動数一覧" serializeAs="String">
                <value>配布員稼動数一覧.xls</value>
            </setting>
            <setting name="エクセル配布料請求書受領証" serializeAs="String">
                <value>配布料請求書受領証.xls</value>
            </setting>
            <setting name="エクセル配布料請求書" serializeAs="String">
                <value>配布料請求書.xls</value>
            </setting>
            <setting name="エクセル請求書" serializeAs="String">
                <value>請求書2015.xls</value>
            </setting>
            <setting name="エクセルクライアント別請求一覧" serializeAs="String">
                <value>クライアント別請求一覧ヨコ.xls</value>
            </setting>
            <setting name="販促手当率" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="エクセル販売促進手当" serializeAs="String">
                <value>販売促進手当.xls</value>
            </setting>
            <setting name="エクセル配布スケジュール" serializeAs="String">
                <value>配布スケジュール.xls</value>
            </setting>
            <setting name="エクセル対比表" serializeAs="String">
                <value>対比表.xls</value>
            </setting>
            <setting name="エクセル累計表" serializeAs="String">
                <value>累計表.xls</value>
            </setting>
            <setting name="エクセル在庫管理表" serializeAs="String">
                <value>チラシ在庫管理表.xls</value>
            </setting>
            <setting name="menuCsv" serializeAs="String">
                <value>メニュータイトル.csv</value>
            </setting>
            <setting name="エクセル振り表" serializeAs="String">
                <value>振り表.xls</value>
            </setting>
            <setting name="エクセル受注確定書" serializeAs="String">
                <value>受注確定書.xlsx</value>
            </setting>
            <setting name="エクセル受注確定書印刷" serializeAs="String">
                <value>受注確定書印刷.xlsx</value>
            </setting>
            <setting name="営業売上表" serializeAs="String">
                <value>営業売上表.xls</value>
            </setting>
            <setting name="エクセル納品書" serializeAs="String">
                <value>納品書.xls</value>
            </setting>
            <setting name="エクセルクライアント別受注一覧" serializeAs="String">
                <value>クライアント別受注一覧.xlsx</value>
            </setting>
            <setting name="エクセルクライアント別受注別集計" serializeAs="String">
                <value>クライアント別受注別集計.xlsx</value>
            </setting>
        </posting.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
